# systemd service file
# copy this file to /etc/systemd/system/
# if needed update the User, workingDirectory and ExecStart below
# then run the following:
#  sudo systemctl daemon-reload
#  sudo systemctl enable dht-ha.service
#  sudo systemctl start dht-ha.service
#  sudo systemctl status dht-ha.service

[Unit]
Description=HomeAssistant Discovery for DHT11/22
Requires=network.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/dht-ha
ExecStart=/home/pi/dht-ha/dht-ha
Restart=always

[Install]
WantedBy=multi-user.target